.category-card {
  position: relative;

  height: 224px;
  width: 361px;

  border: 2px solid #00000066;
  border-radius: 5px;
  margin-bottom: 41px;

  &__cross {
    position: absolute;
    top: 0;
    right: 0;

    height: 43px;
    width: 43px;

    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(../../assets/icons/cross.svg);
    background-size: cover;
  }

  &__title {
    @include baseText;
    font-weight: 700;
    text-align: center;
    margin: 23px auto;
  }

  &__words {
    @include baseText;
    text-transform: uppercase;
    padding: 10px 54px;
    box-sizing: border-box;
  }

  &__buttons {
    margin: 50px 19px 24px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    height: 35px;
    padding: 0 20px;

    cursor: pointer;
    @include baseText;
    color: #00bf82;
    background-color: transparent;
    border: 2px solid #00bf82;
    border-radius: 5px;
  }
}

.categories-wrapper {
  margin: 96px auto;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
