.header {
  height: 59px;
  width: 69.5%;

  margin: 35px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hamburger-open,
  &__hamburger-closed {
    height: 59px;
    width: 59px;
  }
  &__hamburger-open {
    background-image: url(../../assets/icons/cross.svg);
  }

  &__hamburger-closed {
    background-image: url(../../assets/icons/hamburger.svg);
  }

  &__mode-play,
  &__mode-train {
    position: relative;
    height: 33px;
    width: 67px;

    border-radius: 20px;
    transition: 0.3s;

    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: bold;
    line-height: 12px;
    font-size: 0.625rem;
  }

  &__mode-train {
    background-color: $green;

    &::before {
      position: absolute;
      top: 11px;
      left: 6px;

      content: "train";
      color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;

      height: 23px;
      width: 23px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.35);
    }
  }

  &__mode-play {
    background-color: $gray;

    &::before {
      position: absolute;
      top: 11px;
      right: 10px;

      content: "play";
      color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;

      height: 23px;
      width: 23px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.35);
    }
  }
}
