.pop-up {
  &__back {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #c4c4c499;
  }

  &__main {
    width: 812px;
    background-color: #ffffffe8;
  }

  &__head {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include baseText;
    font-size: 48px;
    line-height: 56px;
  }

  &__form {
    margin: 49px 0 49px 7%;

    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 60px;
    width: 70%;
    min-width: 250px;
    margin-bottom: 78px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;

    @include baseText;
    text-transform: lowercase;
    font-size: 48px;
    line-height: 56px;

    &::placeholder {
      color: #000;
    }
  }

  &__footer {
    background-color: $green;
    padding: 22.5px 0 12.5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__button {
    width: 248px;
    height: 60px;
    margin-bottom: 10px;

    border: 2px solid #ffffff;
    border-radius: 5px;
    @include baseText;
    text-transform: capitalize;
    color: #ffffff;
  }
}

.cansel {
  background-color: red;
}

.login {
  background-color: transparent;
}
