.sideBar {
  position: fixed;
  top: 0;
  min-width: 375px;
  height: 100vh;
  transition: 0.4s;
  z-index: 10;

  &__cross {
    height: 59px;
    width: 59px;

    margin: 35px;
    transition: 0.3s;
    cursor: pointer;
    background-image: url(../../assets/icons/cross.svg);
  }

  &__items {
    margin-left: 0;
    padding-left: 0;

    width: 67.7%;
    margin: 30px auto;
    list-style-type: none;
  }

  &__item {
    padding-bottom: 20px;
    cursor: pointer;

    color: #fff;
    @include baseText;
  }

  .choosen {
    text-decoration: underline;
  }
}

.login_button {
  position: absolute;
  bottom: 40px;
  left: 36px;

  height: 60px;
  width: 66%;
  box-sizing: border-box;
  padding-left: 20px;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;

  color: #fff;
  @include baseText;
  text-align: left;
}

.open {
  left: 0;
}

.closed {
  left: -2000px;
}

.play {
  background: $redGradient;
}

.train {
  background: $greenGradient;
}
