.wrapper {
  display: flex;
}

.mainApp {
  width: 100%;
}

.git {
  height: 50px;
  width: 50px;
  background-image: url(../../assets/icons/github.svg);
  background-size: cover;
  display: block;
}

.rss {
  height: 56px;
  width: 150px;
  background-image: url(../../assets/icons/rss.svg);
  background-size: cover;
  display: block;
}

.footer {
  display: flex;
  width: 69.5%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid $gray;
}
