$green: #4fbe79;
$gray: #cfcfd3;
$greenGradient: linear-gradient(0deg, $green 0%, #107ed8 100%);
$redGradient: linear-gradient(0deg, #e79436 0%, #f82553 100%);
$horGreenGradient: linear-gradient(90deg, $green 0%, #107ed8 100%);
$horRedGradient: linear-gradient(90deg, #e79436 0%, #f82553 100%);
